<% @ratings.each do |rating| %>
<div class="box">Nobody rated <%= link_to rating.wine.name, rating.wine %>, <%= time_ago_in_words rating.created_at %> ago.</div>
<% end %>

<%= will_paginate @ratings %>
