<h1>Grapes</h1>

<table>
<tr>
  <th>Grape</th>
  <th>Count</th>
</tr>
<% @grapes.each do |grape| %>
<tr>
  <td><%= link_to grape.name, grape_path(grape) %></td>
  <td><%= grape.count %></td>
</tr>
<% end %>
</table>
