<% content_for :title do %><%= @grape.name %><% end %>

<h1><%= @grape.name %></h1>

<% @wines.each do |wine| %>
<div class="box">
<%= link_to wine.name, wine_path(wine) %> added <%= time_ago_in_words wine.created_at %> ago.
</div>
<% end %>
