
<div class="span-18">
<h1>Wines</h1>

<% @wines.each do |wine| %>
<div class="box">
<%= link_to wine.name, wine_path(wine) %> added <%= time_ago_in_words wine.created_at %> ago.
</div>
<% end %>

<%= will_paginate @wines %>
</div>

<% if user_signed_in? then %>
<div class="span-6 last">
<%= render 'form' %>
</div>
<% end %>
