<% if user_signed_in? then %>
<span class="right"><%= link_to 'New', new_wine_path %></span>
<% end %>
<h1>Wines</h1>

<% @wines.each do |wine| %>
<div class="box">
<%= link_to wine.name, wine_path(wine) %> added <%= time_ago_in_words wine.created_at %> ago.
</div>
<% end %>

<%= will_paginate @wines %>
